{% extends 'base.html' %}

{% block content %}

<DOCTYPE html>
<html>
    <div>
        <form>
            <h1>RECIVA</h1>
            <br/><br/>
            <div>
                <label for="reciva">RECIVA:</label>
                <input type="text" id="reciva" name="reciva">
            </div>
            <br/><br/>
            <div>
                <label for="reciva">RECIVA:</label>
                <input type="text" id="reciva" name="reciva">
            </div>
            <br/><br/>
            <div>
                <label for="reciva">RECIVA:</label>
                <input type="text" id="reciva" name="reciva">
            </div>
            <br/><br/>
            <div>
                <label for="reciva">RECIVA:</label>
                <input type="text" id="reciva" name="reciva">
            </div>
            <br/><br/>
            <div>
                <label for="reciva">RECIVA:</label>
                <input type="text" id="reciva" name="reciva">
            </div>
            <br/><br/>
            <div>
                <label for="reciva">RECIVA:</label>
                <input type="text" id="reciva" name="reciva">
            </div>
            <br/><br/>
            <div>
                <label for="reciva">RECIVA:</label>
                <input type="text" id="reciva" name="reciva">
            </div>
            <br/><br/>
            <div>
                <label for="reciva">RECIVA:</label>
                <input type="text" id="reciva" name="reciva">
            </div>
            <br/><br/>
        </form>
    </div>





</html>